*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(23, 43, 21, 0);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #adef4a;
    font-size: 19px;
}

.search-box button{
    padding: 5px 0;
    width: 25%;
    background-color: #adef4a;
    border: none;
    outline: none;
    color: #afffaf;
    border-radius: 5px;
}














